# If you want ElectrumG to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrumg.desktop

[Desktop Entry]
Comment=Lightweight Bithereum Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrumg %u'
GenericName[en_US]=Bithereum Wallet
GenericName=Bithereum Wallet
Icon=electrumg
Name[en_US]=Electrum Bithereum Wallet
Name=Electrum Bithereum Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/bithereumnetwork;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrumg --testnet %u'
Name=Testnet mode
